/*color variables*/
:root{
  --main-background:#000080;
  --secondary-background: skyblue;
  --header-footer:#40ff00;
  } 

  /*Existing CSS styling removed*/
  * {
      box-sizing: border-box;
      margin: 0px;
      padding: 0px;
  }

  /*Settings for body styling*/
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: var(--main-background);
    background-color: var(--secondary-background);
}

/*Header styling start here*/
header{
  background-color: var(--main-background);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

/*
header div{
  box-shadow: 3px 3px 5px #008000;
  border-radius: 25px;
}*/

header h1{
  color: var(--main-background);
  font-size: 35px;
  font-weight: bold;
  background-color: var(--secondary-background);
  padding: 10px;
  border: 2px solid var(--header-footer);
  border-radius: 15px;
}

header a{
  text-decoration: none;
  color: var(--secondary-background);
}

header nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 80px;
}

header nav{
margin: 15px;
}

header nav ul li a {
  padding: 10px;
  font-size: 26px;
  margin: 20px 20px 0 0;
  font-weight: bold;
  border-radius: 15px;
  color: var(--main-background);
  background-color: var(--header-footer);
}
/*End of Header Styling*/


/*Start of Hero Styling*/
.hero {
background-image: url(../images/02-portfolio-3.jpg);
background-size: cover;
background-position: center;
display: flex;
align-items: center;
justify-content: space-around;  
height: 400px;
}

.hero img {
  height: 200px;
  border-radius: 30px;
}

.hero .quote {
  font-size: 30px;
  display: flex;
  justify-content: end;
  text-align: right;
  color: 	#191970;
}

.hero .quote #quote-text {
  font-size: 30px
}
/*End of Hero Styling*/



/*Title Styling*/
.title {
  border-right: 5px; 
  min-height: 100%;
  text-align: right;
  padding-right: 35px;
  min-width: 20%;
  max-width: 20%;
}

.title h2 {
  font-size: 48px;
}

.about-me {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 30px;
}

.about-me p {
  font-size: 30px;
  padding: 0 50px;
  line-height: 1.4;
  width: 100%
}

/*My Work Styling Section*/

.my-work {
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-background);
}

.my-work h2 {
    color: var(--secondary-background);
}

.projects-grid-wrapper {
    width: 90%;
    height: 600px;
    display: flex;
    justify-content: center;
}

.projects-grid {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.project {
  border: solid;
  color: black;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}

.design-engineer {
  grid-column: 1/3;
  grid-row: span 2;
  background-image: url("../images/02-portfolio-1.jpg");
  background-position: 50% 15%;
}

.cad-engineer {
  background-image: url("../images/02-portfolio-2.jpg");
  background-position: 50% 15%;
}

.cad-technician {
  background-image: url("../images/02-portfolio-3.jpg");
  background-position: 50% 30%;
}

.cad-engineer {
  background-image: url("../images/02-portfolio-4.jpg");
  background-position: 50% 30%;
}

.web-developer-trainee {
  background-image: url("../images/02-run-buddy.jpg");
  background-position: 50% 30%;
}

.project-label {
  background-color: grey;;
  color: var(--main-background);
  padding: 10px;
  background-position: 50% 30%;
}

/*End of Section Styling*/


/*Footer Start*/
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 25px;
  margin-bottom: 25px;
}

.content-wrapper {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-list {
  width: 50%;
}

footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  font-size: 30px;
  font-weight: bolder;
}

footer ul li {
  font-weight: bold;
}

footer ul li a {
  text-decoration: none;
  color: var(--main-background);
  padding: 8px;
  font-weight: bold;
  border-radius: 15px;
  background-color: var(--header-footer);  
}
/*Contact me and Footer End*/

/* Media query for tablets and smaller screens*/
@media screen and (max-width: 768px) {
  .hero .quote {
      font-size: 28px;
      padding-right: 20px;
  }
  
  .hero .quote #quote-text {
      font-size: 30px;
  }

  .title h2 {
      font-size: 35px;
  }

  .about-me p {
      font-size: 15px;
      line-height: 1.5;
  }
}

/* Media query for mobile phones and smaller screens*/
@media screen and (max-width: 575px) {
  header {
      justify-content: center;
      padding: 20px;
  }

  header nav ul {
      min-height: 80px;
  }

  .hero {
      flex-direction: column;
  }

  .about-me {
      flex-direction: column;
  }

  .title {
      border-bottom: 5px solid var(--header-footer);
      border-right: none;
      text-align: center;
      min-width: 100%;
      max-width: 100%;
      padding: 0;
  }

  .about-me p {
      font-size: 16px;
      line-height: 1.6;
      width: 100%;
      padding: 15px;
  }

  .my-work {
      flex-direction: column;
      padding: 30px 0;
  }

  .projects-grid-wrapper {
      width: 100%;
      padding: 10px;
  }
  
  .projects-grid {
      width: 80%;
  }

  footer {
      flex-direction: column;
  }

  footer ul {
      flex-direction: column;
  }

  .content-wrapper {
      width: 100%;
  }

  footer ul li {
      padding: 10px;
      text-align: center;
  }
  
}


